<!-- <mat-toolbar color="primary">
  <span>Library Management System</span>
</mat-toolbar> -->

<mat-sidenav-container style="height: 100%;">
  <mat-sidenav mode="side" opened style="background-color: #3f51b5; padding: 20px; text-align: center;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAZGwsTzEJCyopsRG3JinKGnpWnY7ctUG-pQ&usqp=CAU" alt="Admin Image" style="width: 70px; height: 70px; border-radius: 50%;">
    <h3 style="color: #ffffff; margin-top: 10px;">Admin Panel</h3>
    
    <mat-list>
      <mat-list-item>
        <button mat-raised-button color="accent" style="width: 100%;" routerLink="">Issue Book</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="accent" style="width: 100%;" routerLink="/records">Records</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-raised-button color="accent" style="width: 100%;" routerLink="/booklist">Available Books</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="accent" style="width: 100%;" routerLink="/addbook">Add New Book</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
